@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&family=PT+Sans&family=Poppins:ital,wght@0,400;0,800;1,400;1,800&family=Sacramento&family=Ubuntu:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

body {
    background-color: #d4d5d5;
}

.nav {
    top: 0%;
    height: 5rem;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}


/*Styling logo*/

.logo {
    padding: 1vh 1vw;
}

.logo img {
    height: 4.5rem;
    width: 4.5rem;
}


/*Styling Links*/

.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

.nav-links li a {
    text-decoration: none;
    margin: 0 0.7vw;
}

.nav-links li a:hover {
    color: #fff;
}

.nav-links li {
    position: relative;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #fff;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 17% 0% 0% 10%;
}

.nav-links li a:hover::before {
    width: 80%;
}


/*Styling Buttons*/

.login-button {
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
}

.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

.join-button {
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}

.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}


/*Styling Hamburger Icon*/

.hamburger div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}


/*Stying for small screens*/

@media screen and (max-width: 800px) {
    .nav {
        position: fixed;
        z-index: 3;
    }
    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links {
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade {
        opacity: 1;
    }
}


/*Animating Hamburger Icon on Click*/

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/*startups*/

.startup{
    position: relative;
    margin-top: 5%;
    text-align: center;
    height: 30vh;
    color: #E0040B;
    font-size: 100px;
    font-weight: 700;
    background-color: #000;
    padding-top: 5%;
    margin-bottom: 10%;
}

* {
    font-family: Poppins;
  }
  .cards {
    width: 85%;
    margin:auto;
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    padding: 25px 0;
    list-style: none;
    overflow: scroll;
    scroll-snap-type: x mandatory;
  }
  .card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #f6f6f6;
    border-radius: 25px;
    scroll-snap-align: start;
    transition: all 0.2s;
  }
  .card:hover {
    color: #fff;
    background: #E0040B;
  }
  .icon {
      width: 75px;
      border-radius: 100%;
    transition: 750ms;
  }
  .icon:hover {
    transform: scale(1.2);
  }
  .card .card-title {
      font-size: 1.2rem;
      margin-top: 13px;
  }
  .card-sub {
      font-size: 1rem;
      margin-top: -40px;
  }
  .card .card-content {
    margin: 40px 0;
  }
  .card .card-link-wrapper {
      display: flex
  }
  .card-link {
    background: #117ac9;
    padding: 10px 30px;
    border-radius: 100px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: 750ms;
  }
  .card-link:hover {
    transform: scale(.95);
  }
  .cards::-webkit-scrollbar {
    height: 12px;
  }
  .cards::-webkit-scrollbar-thumb {
    border-radius: 92px;
      background: #117ac9;
  }
  @media (max-width: 700px) {
  .cards {
      grid-column-gap: 30px;
    }
  }
  @media (min-width: 700px) {
  .cards {
      grid-auto-columns: calc(calc(100% / 3) - 20px);
      grid-column-gap: 30px;
    }
  }
  @media (min-width: 1100px) {
  .cards {
      grid-auto-columns: calc(25% - 30px);
      grid-column-gap: 40px;
    }
  }

  @media (max-width:800px) {
    .startup{
        margin-top: 15%;
        font-size: 70px;
        padding-top: 7%;
        font-weight: 550;
    }
  }

  /* footer */


  footer {
    width: 100%;
    bottom: 0;
    left: 0;
    background: black;
    margin-top: 80px;
}

footer .content {
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .content p,
a {
    color: #fff;
}

footer .content .box {
    width: 33%;
    transition: all 0.4s ease;
}

footer .content .topic {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
}

footer .content p {
    text-align: justify;
}

footer .content .lower .topic {
    margin: 24px 0 5px 0;
}

footer .content .lower i {
    padding-right: 16px;
}

footer .content .middle {
    padding-left: 80px;
}

footer .content .middle a {
    line-height: 32px;
}

footer .content .right input[type="text"] {
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
}

footer .content .right input[type="submit"] {
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #d9d9d9;
    background: #eb2f06;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #eb2f06;
    transition: all 0.3s ease-in-out;
}

.content .right input[type="submit"]:hover {
    background: none;
    color: #eb2f06;
}

footer .content .media-icons a {
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #222222;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
}

.content .media-icons a:hover {
    border-color: #eb2f06;
}

footer a {
    transition: all 0.3s ease;
}

footer a:hover {
    color: #eb2f06;
}

@media (max-width:1100px) {
    footer .content .middle {
        padding-left: 50px;
    }
}

@media (max-width:950px) {
    footer .content .box {
        width: 50%;
    }
    .content .right {
        margin-top: 40px;
    }
}

@media (max-width:560px) {
    footer {
        position: relative;
    }
    footer .content .box {
        width: 100%;
        margin-top: 30px;
    }
    footer .content .middle {
        padding-left: 0;
    }
}